body {
    background-color: #36393E;
    color: rgba(100%, 100%, 100%, 0.7);
}

body a, a:hover, a:active, a:visited {
    color: #0096cf;
}

.btn {
    color: white !important;
}

.badge {
    background-color: rgba(100%, 100%, 100%, 0.7);
    color: black;
}

#navbar {
    background-color: #2F3136;
    border: none;
}

.medal {
    /*color: #2F3136;*/
    background-color: #2F3136;
    border: none;
}

h1 .discord-avatar, .large-discord-avatar {
    height: 64px;
    border-radius: 32px;
}

h2 .discord-avatar {
    height: 56px;
    border-radius: 28px;
}

h3 .discord-avatar, .discord-avatar {
    height: 48px;
    border-radius: 24px;
}

.small-discord-avatar {
    height: 20px;
    border-radius: 10px;
}

.image-center {
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}

.badge.bronze {
    color: white;
    background-color: chocolate;
}

.badge.silver {
    color: black;
    background-color: darkgray;
}

.badge.gold {
    color: black;
    background-color: gold;
}

.bronze {
    color: chocolate;
}

.silver {
    color: darkgray;
}

.gold {
    color: gold;
}

.medal .glyphicon {
    font-size: 80px;
}

.medal .medal-token {
    font-style: italic;
    color: gray;
    font-size: 10px;
}

.medal .medal-date {
    font-style: italic;
    color: gray;
}

.navbar-text {
    display: inline-block;
    margin-right: 15px;
}

.darker {
    color: rgba(100%, 100%, 100%, 0.5);
}

.list-group-item {
    background-color: #2F3136;
    color: rgba(100%, 100%, 100%, 0.7);
    border: none;
}