.discord-avatar {
    height: 20px;
    border-radius: 10px;
}

.large-discord-avatar {
    height: 64px;
    border-radius: 32px;
}

.image-center {
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}

.bronze {
    color: chocolate;
}

.silver {
    color: darkgray;
}

.gold {
    color: gold;
}

.medal .glyphicon {
    font-size: 80px;
}

.medal .medal-token {
    font-style: italic;
    color: gray;
    font-size: 10px;
}