{% extends "base.htm.j2" %}
{% block title %}{{ guild }} - Discord Medals{% endblock %}
{% block extrahead %}
    <script>
        function regenToken(medalid)
        {
            var token_element = document.getElementById("medal-" + medalid + "-token");
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if(request.readyState === 4 && request.status === 200)
                {
                    var data = JSON.parse(request.responseText);
                    if(data["success"])
                    {
                        token_element.innerHTML = data["new_token"]
                    }
                    else
                    {
                        throw new XMLHttpRequestException();
                    }
                }
            }
            request.open("GET", "/api/regentoken?token=" + token_element.innerHTML.replace(/^\s+|\s+$/g, ''), true);
            request.send(null);
        }
    </script>
{% endblock %}
{% block content %}
    <h1>
        <img class="discord-avatar" src="{{ guild.icon_url(size=64) }}"> {{ guild }}
    </h1>
    <div id="members">
        <h2>
            Members
        </h2>
        {% for row in members | batch(6) %}
            <div class="row">
                {% for member in row %}
                    <div class="col-xs-4 col-sm-2">
                        <a href="/user/{{ member.id }}">
                            <div class="image-center">
                                <img class="large-discord-avatar" src="{{ member.avatar_url(size=64) }}">
                            </div>
                            <div class="text-center">
                                {{ member }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="medals">
        <h2>
            Medals
            {% if guild.owner_id == user.id %}
                <a href="/guild/{{ guild.id }}/new" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </h2>
        {% if not medals %}
            This group hasn't created any medal.
        {% endif %}
        {% for row in medals | batch(3) %}
            <div class="row">
                {% for medal in row %}
                    <div class="col-md-4">
                        {% include "medal.htm.j2" %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}