{% extends "base.htm.j2" %}
{% block content %}
    <h2>
        Your servers
    </h2>
    {% for guild in guilds %}
        <div class="guild">
            <h3>
                <a href="/guild/{{ guild.id }}">{{ guild }}</a>
            </h3>
        </div>
    {% endfor %}
{% endblock %}