<div class="panel panel-default medal">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <span class="glyphicon glyphicon-{{ medal.icon }} {{ medal.tier }} medal-icon"></span>
            </div>
            <div class="media-body">
                <h4 class="media-header medal-name">
                    {{ medal.name }}
                </h4>
                <div class="medal-description">
                    {{ medal.description }}
                </div>
                {% if medal.guild.owner_id == user.id %}
                    <div class="medal-token">
                        {{ medal.token }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>