{% extends "base.htm.j2" %}
{% block title %}New medal - Discord Medals{% endblock %}
{% block extrahead %}
    <script>
        var mname;
        var description;
        var icon;

        window.onload = function()
        {
            mname = document.getElementById("medal-name");
            description = document.getElementById("medal-description");
            icon = document.getElementById("medal-icon");
            updateName();
            updateDescription();
            updateMedalClass();
        }

        function updateName()
        {
            mname.innerHTML = document.getElementById("input-name").value
        }

        function updateDescription()
        {
            description.innerHTML = document.getElementById("input-description").value
        }

        function updateMedalClass()
        {
            var classstring = "glyphicon glyphicon-";
            classstring += document.getElementById("input-icon").value;

            if(document.getElementById("input-bronze").checked)
            {
                classstring += " bronze";
            }
            else if(document.getElementById("input-silver").checked)
            {
                classstring += " silver";
            }
            else if(document.getElementById("input-gold").checked)
            {
                classstring += " gold";
            }

            document.getElementById("medal-icon").className = classstring;
        }


    </script>
{% endblock %}
{% block content %}
    <h1>
        {# I'm so lazy #}
        {{ target | capitalize }} medal
    </h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default medal">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <span class="medal-icon" id="medal-icon"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-header medal-name" id="medal-name">
                                Name
                            </h4>
                            <div class="medal-description" id="medal-description">
                                Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="{{ target }}">
        <div class="form-group">
            <label for="input-name">Name</label>
            <input type="text" class="form-control" id="input-name" name="name" {% if medal %}value="{{ medal.name }}"{% endif %} oninput="updateName()">
        </div>
        <div class="form-group">
            <label for="input-name">Description</label>
            <textarea class="form-control" id="input-description" name="description" oninput="updateDescription()">{% if medal %}{{ medal.description }}{% endif %}</textarea>
        </div>
        <div class="form-group">
            <label for="input-name">Icon</label>
            <input type="text" class="form-control" id="input-icon" name="icon" {% if medal %}value="{{ medal.icon }}"{% endif %} oninput="updateMedalClass()">
        </div>
        <label for="input-tier">Tier</label>
        <div id="input-tier">
            <div class="radio">
                <label>
                    <input id="input-bronze" type="radio" name="tier" value="bronze" {% if medal %}{% if medal.tier == "bronze" %}checked{% endif %}{% endif %} onclick="updateMedalClass()">
                    <span class="bronze">Bronze</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input id="input-silver" type="radio" name="tier" value="silver" {% if medal %}{% if medal.tier == "silver" %}checked{% endif %}{% endif %} onclick="updateMedalClass()">
                    <span class="silver">Silver</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input id="input-gold" type="radio" name="tier" value="gold" {% if medal %}{% if medal.tier == "gold" %}checked{% endif %}{% endif %} onclick="updateMedalClass()">
                    <span class="gold">Gold</span>
                </label>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="{{ target | capitalize }}">
    </form>
{% endblock %}