{% extends "base.htm.j2" %}
{% block title %}{{ queried_user }} - Discord Medals{% endblock %}
{% block content %}
    <h1>
        <img class="discord-avatar" src="{{ queried_user.avatar_url(size=64) }}"> {{ queried_user }}
    </h1>
    <div id="guilds">
        <h2>
            Servers
        </h2>
        {% for guild in guilds %}
            <div class="guild">
                <h3>
                    <a href="/guild/{{ guild[1].id }}">
                        <img class="discord-avatar" src="{{ guild[1].icon_url(size=64) }}"> {{ guild[1] }}
                    </a>
                </h3>
            </div>
            {% if not award_groups[guild[0]] %}
                There are no medals here.
            {% endif %}
            {% for row in award_groups[guild[0]] | batch(3) %}
                <div class="row">
                    {% for award in row %}
                        <div class="col-md-4">
                            <div class="panel panel-default medal">
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="glyphicon glyphicon-{{ award.medal.icon }} {{ award.medal.tier }} medal-icon"></span>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-header medal-name">
                                                {{ award.medal.name }}
                                            </h4>
                                            <div class="medal-description">
                                                {{ award.medal.description }}
                                            </div>
                                            <div class="medal-date">
                                                {{ award.date }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}